* {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
}

.main,
.description {
    margin: 4rem 8rem;
}

.description__header {
    margin: 4rem 0;
}

.form__input {
    padding: 1rem;
    width: 30rem;
    max-width: 50vw;
}

.form__input-btn {
    padding: 1rem;
    text-transform: uppercase;
    font-family: inherit;
    margin-left: 0.5rem;
}

.main-decode-resault {
    margin-top: 2rem;
    display: inline-block;
    border: 1px solid crimson;
    padding: 1rem;

}

.description__line {
    margin: 4rem 0;
}

.list__step {
    margin: 1rem 0;
}

.description__img{
    margin: 2rem 0;
    border: 1px solid crimson;
}